<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Erwachsene Kriegsenkel EKE</title>
    <meta name="description" content="Erwachsene Kriegsenkel sind eine Gemeinschaft von Männern 
    und Frauen, die aufgrund der Traumatisierungen ihrer Eltern, die als Kinder den 2. Weltkrieg und/oder Diktatur, 
    Verhaftung und Gefängnis in der Nazizeit, der SBZ, der DDR und/oder Flucht/Verteibung erlebt hatten, und deshalb 
    in ihrer Herkunftsfamilie nicht die Liebe und Zuwendung bekommen haben, die für eine angemessene Entwicklung 
    notwendig gewesen wäre. Es geht uns in der Gruppe um die Aufarbeitung der transgenerational weitergegebenen 
    Traumafolgen in dysfunktionalen Gesellschaften bzw. Familiensystemen.">

    <meta name="keywords" lang="de" 
     content="Selbsthilfe, Selbsthilfegruppen, Erwachsene Kriegsenkel, Kriegsenkel, 12-Schritte-Gruppen, Sucht, Recovery, Genesung, EKS, Erwachsene Kinder aus Dysfunktionalen Familien">

    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/github-light.css">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Erwachsene Kriegsenkel - EKE</h1>
      </header>
      <section>
        {{content}}
      </section>
      <section>
        <a href="/datenschutz">Datenschutzhinweis</a>
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>
